In [1]:
# Import library yang dibutuhkan
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Load data
data = pd.read_csv('Data Pencemaran Udara Jakarta Cleaned.csv')
data.head()

,tanggal,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,kategori
0,2022-12-01,53,81,42,9,24,12,SEDANG
1,2022-12-01,52,66,18,17,27,5,SEDANG
2,2022-12-01,59,74,46,15,50,31,SEDANG
3,2022-12-01,54,73,36,12,22,13,SEDANG
4,2022-12-01,64,93,52,7,27,19,SEDANG

In [3]:
X = data[['pm_sepuluh', 'pm_duakomalima', 'sulfur_dioksida', 'karbon_monoksida', 'ozon', 'nitrogen_dioksida']]
y = data['kategori']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)
#Save Data
train_data.to_csv('data_train.csv', index=False)
test_data.to_csv('data_test.csv', index=False)